body {
    min-height: 100vh;
    min-width: fit-content;
    background-color: #fff;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}

.logo {
    margin-left: 50px;
    margin-top: 150px;
    width: 500px;
    height: 250px;
}

.border-success{
    margin-top: 200px;
    margin-right: 100px;
    border-radius: 10px;
}

.formulir{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.form-control{
    border-radius: 10px !important;
    border-color: #4E944F;
}

.btn-primary{
    background-color: #4E944F !important;
    border-color: #4E944F !important;
    border-radius: 10px;
}

/*navbar*/
#side_nav {
    background-color: #4E944F !important;
    min-width: 250px;
    max-width: 250px;
}

.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background: #eee;
}

.logo-kecil{
    width: 200px;
    height: 70px;
    position: fixed;
}

.sidebar li.active{
    background: #fff;
    border-radius: 10px;
}

.sidebar li.active a, .sidebar li.active a:hover{
    color: #4E944F;
    font-weight: bold;
}

.sidebar li a {
    color: #fff;
    font-weight: bold;
}

/*content*/
/*.navbar{
    background-color: #4E944F !important ;
}
.btn-outline-success  {
    background-color: #4E944F !important ;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

.btn-outline-success:hover {
    color: #4E944F !important;
    background-color: #fff !important;
}*/

.card-header {
    background-color: #4E944F !important;
    color: #fff !important;
    font-weight: bold;
}

.card {
    border: solid 1px;
    border-color: #4E944F;
}

.table {
    margin-top: 10px;
}

.title , .isi {
    text-align: center;
    border-color: #4E944F !important;
    width: fit-content;
}

.table-bordered {
    border-color: #4E944F !important;
}

.btn-danger {
    border-radius: 10px;
    background-color: #4D96FF !important;
    border-color: #4D96FF !important;
}

.btn-warning {
    border-radius: 10px;
    color: #fff;
    background-color: #FF6B6B !important;
    border-color: #FF6B6B !important;
}

/*.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #9F2927;
    border-radius: 2px;
}*/

.navbar-toggler{
    border-radius: 10px;
    background-color: #4E944F !important;
}

.container{
    border-color: #4E944F !important;
    border: solid 1px;
    border-radius: 10px;
}

.form-select {
    border-radius: 10px !important;
    border-color: #4E944F !important;
}
/*label {
    float: left;
    width: 200px;
    padding-right: 24px;
    margin-top: 10px;
}
 
input {
    float: left;
    margin-top: 10px;
    width: calc(100% - 200px);
}*/