body {
  background-color: #e5e5e5 !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-color {
  background-color: #fdeff4 !important;
}

.bg-light {
  background-color: #6c757d !important;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 15px;
  transition: all 0.4s;
  font-weight: bold;
}


.search {
  height: 45px;
  border: 2px solid;
  outline: none;
  border-radius: 20px 0px 0px 20px;
  border-color: #e60965;
}

.btn-search {
  height: 45px;
  outline: none;
  background-color: #e60965;
  color: #ffff;
  border-radius: 0px 20px 20px 0px;
  border: none;
  transition: all 0.4s;
}

.btn-search:hover {
  background-color: black;
}

/*icons*/
.bi-cart-fill {
  font-size: 25px;
  color: #e60965;
  cursor: pointer;
  padding-top: 5px;
  transition: all 0.4s;
}

.bi-cart-fill:hover {
  color: black;
}

.bi-person-fill {
  font-size: 30px;
  color: #e60965;
  cursor: pointer;
  padding-top: 5px;
  margin-left: 10px;
  transition: all 0.4s;
}

.bi-person-fill:hover {
  color: black;
}

/*dropdown di user*/
.dropdown-menu a {
  color: #e60965;
}

/*form*/
.col-md-7 {
  margin-top: 100px;
}

.register-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-primary {
  background-color: #da1212 !important;
  border: none;
  border-radius: 10px;
  color: #fdeff4;
  font-weight: bold;
  font-size: 20px;
}

.btn-register {
  background-color: #da1212 !important;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.form-control {
  border-color: #da1212 !important;
  border-style: solid;
  border-radius: 10px;
}

.register {
  color: #da1212;
}

.image-register {
  margin-top: 100px;
}

.ml-auto {
  font-weight: bold;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

/*main*/
.main {
  background: url(../image/main.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.main h1 {
  font-size: 5rem;
  color: #da1212;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}

.main p {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/*button*/
.btn-shop {
  border: none;
  background-color: #e60965;
  color: #ffff;
  border-radius: 10px;
  height: 45px;
  width: 40%;
  font-weight: bold;
  transition: all 0.4s;
}

.btn-shop:hover {
  background-color: black;
}

.btnc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 53px;
  width: 40%;
  color: #ffff;
  border: none;
  outline: none;
  background: #e60965;
  cursor: all 0.4s;
}

.btnc:hover {
  background: #000;
  transition: all 0.4s;
}
/*==================================Store Section==========================*/
.zoom-n-rotate {
  border-radius: 0;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

.zoom-n-rotate img {
  transition: transform 0.5s ease-in-out;
}
.zoom-n-rotate img:hover {
  transform: scale(1.5);
}

/*==================================Product Section==========================*/
h1 {
  font-weight: 800;
  font-size: 2.6rem;
}

.link {
  color: #e60965;
  font-weight: bold;
}

.link:hover {
  color: #000;
}

.btn-more {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 53px;
  width: 20%;
  color: #ffff;
  border: none;
  outline: none;
  background: #e60965;
  cursor: all 0.4s;
  border-radius: 20px;
}

.btn-more:hover {
  background: #000;
  transition: all 0.4s;
}

/*==================================Iconic Section==========================*/
.bi-truck {
  color: #e60965;
  font-size: 3.5rem;
}

.bi-person {
  color: #e60965;
  font-size: 3.5rem;
}
.bi-cart {
  color: #e60965;
  font-size: 3.5rem;
}
.iconic {
  text-align: justify;
  font-family: "prompt", sans-serif;
}

/*==================================Iconic Section==========================*/
.Copy {
  color: #e60965;
  font-weight: bold;
}

ul.navbar-nav {
  padding-right: 5px;
  margin-top: 5px;
  display: inline-block;
}

ul.navbar-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

li.nav-item {
  list-style: none;
}

#bg-page-profile {
  overflow: hidden;
}

#menu-profile {
  float: left;
  width: 245px;
  background: #fdeff4;
}

#menu-profile ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#menu-profile ul li a {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

#menu-profile ul li a:hover,
#menu-profile ul li a.active {
  background: #e60965;
}

#profile-content {
  float: left;
  width: 1000px;
  padding: 10px;
  background: white;
}
.table-list {
  width: 100%;
  border-collapse: collapse;
}

.table-list tr {
  border-bottom: 2px solid black;
}

.table-list tr.baris-title {
  background: #e60965;
}

.table-list tr th,
.table-list tr td {
  padding: 10px 7px;
}

.kolom-nomor {
  width: 20px;
  text-align: center;
}

.tengah {
  text-align: center;
}

.kiri {
  text-align: left;
}

.kanan {
  text-align: right;
}

#frame-tambah {
  margin-bottom: 10px;
  text-align: right;

}

.tombol-action {
  background: #e6e6e6;
  color: black;
  padding: 7px 15px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 3px;
  font-size: 12px;
  font-weight: bold;
  /* display: block; */
}

.tombol-action:hover {
  background: #e60965;
  color: black;
}

#kiri {
  float: left;
  width: 245px;
  height: auto;
}

#menu-kategori ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
}

#menu-kategori ul li {
  margin-bottom: 5px;
}

#menu-kategori ul li a {
  color: black;
  padding: 5px;
  display: block;
  background: #fdeff4;
  text-decoration: none;
}

#menu-kategori ul li a:hover,
#menu-kategori ul li a.active {
  background: #e60965;
}

#kanan {
  width: auto;
  margin-left: 15px;
  height: auto;
  /* float: left; */
}

#kanan #frame-barang ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  overflow: hidden;
}

#kanan #frame-barang ul li {
  width: 240px;
  background: white;
  padding: 10px 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  float: left;
}

#kanan #frame-barang ul li .price {
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  margin-bottom: 10px;
}

#kanan #frame-barang ul li a img {
  display: block;
  width: 200px;
}

#kanan #frame-barang ul li .keterangan-gambar {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0px;
  height: 50px;
}

#kanan #frame-barang ul li .keterangan-gambar p {
  text-align: center;
  margin: 5px 0px;
}

#kanan #frame-barang ul li .keterangan-gambar p a {
  font-weight: bold;
  text-decoration: none;
}

#kanan #frame-barang ul li .keterangan-gambar span {
  display: block;
  text-align: center;
}

#kanan #frame-barang ul li .button-add-cart {
  text-align: center;
}

#kanan #frame-barang ul li .button-add-cart a {
  background: #fdeff4;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 25px;
  border-radius: 3px;
}

#kanan #frame-barang ul li .button-add-cart a:hover {
  background: #e60965;
}

#detail-barang {
  background: white;
  padding: 20px;
  margin-left: 240px;
}

#detail-barang h2 {
  margin-top: 0px;
}

#detail-barang #frame-gambar {
  background: #fbfbfb;
  padding: 20px;
}

#detail-barang #frame-gambar img {
  display: block;
  margin: 0px auto;
}

#detail-barang #frame-harga {
  margin: 15px 0px;
}

#detail-barang #frame-harga span {
  font-size: 15px;
  font-weight: bold;
  color: red;
}

#detail-barang #frame-harga a {
  background: #1e5474;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  float: right;
  border-radius: 3px;
}

#detail-barang #frame-harga a:hover {
  background: orange;
}

#detail-barang #keterangan {
  margin: 20px 0px;
}
.total-barang {
  color: black;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  vertical-align: top;
}
.card-title {
  font-weight: bold;
  font-size: 2rem;
}

.btn-detail {
  position: absolute;
  left: 13%;
  transform: translate(-50%, -50%);
  height: 53px;
  width: 10%;
  color: #ffff;
  border: none;
  outline: none;
  background: #E60965;
  cursor: all 0.4s;
  border-radius: 20px;
}

.btn-detail:hover {
  background: #000;
  transition: all 0.4s;
}

.bi-arrow-left-circle {
  position: absolute;
  left: 20px;
}

.update-quantity {
  width: 30px;
  text-align: center;
}

.kanan.hapus_item {
  position: relative
}

.kanan.hapus_item a {
  position: absolute;
  top: 45px;
  right: 10px;
  text-decoration: none;
  border: 2px solid #fdeff4;
  color: black;
  background-color: #fdeff4;
}

.kanan.hapus_item a:hover {
  background-color: #da1212;
}

#frame-button-keranjang a {
  background: #e60965;
  color: black;
  text-decoration: none;
  padding: 7px 20px;
  display: inline-block;
  margin-top: 15px;
}

#lanjut-pemesanan {
  float: right;
}

#container #footer {
  background: #1e5475;
  padding: 10px;
}

#frame-data-pengiriman {
  float: left;
  width: 500px;
  background-color: white;
}

#frame-data-detail {
  /* float: left; */
  width: 650px;
  margin-left: 520px;
  background-color: white;
}

#frame-detail-order {
  border: 1px solid grey;
}

#frame-form-pengiriman {
  border: 1px solid grey;
  padding: 25px;
}

h3.label-data-pengiriman {
  border: 1px solid grey;
  padding: 10px 7px;
  margin: 0px;
}

ul.pagination{
  margin: 10px 0px 0px 0px;
  list-style: none;
  padding: 0px;
}

ul.pagination li{
  float: left;
}

ul.pagination li a{
  margin-right: 10px;
  border: 1px solid #000;
  padding: 5px 7px;
  text-decoration: none;
  color: black;
  display: block;
}

ul.pagination li a:hover{
  font-weight: bold;
}

ul.pagination li a.active{
  color: white;
  background: #e60965;
}

